@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Edu+TAS+Beginner:wght@700&display=swap');
.header{
    
    position: relative;
    z-index: 100;
    max-width: 1540px;
    max-height: 120px;
    font-family: 'Anton', sans-serif;
    font-weight: 700;
    background: black;
}

.header img{
    position: absolute;
    top: -15px;
    width: 210px;
    height: 150px;
}
.menu{
    position: relative;
    letter-spacing: 1px;
    display: block;
    width: 820px;
    margin: 20px 0;
    float: right;
    font-size: 24px;
}

.menu a:hover{
    opacity: .9; 
    color: red;

}
.menu a{
    text-shadow: 2px 2px 3px rgb(101, 119, 11);
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;   
}
.hoverlist{
    display: inline-block;
    margin: 0 10px;
    text-shadow: 2px 2px 3px rgb(101, 119, 11);
}
.listBlock{
    display: none;
    position: absolute;
}
.menu >div div a{
    display: block;
    margin: 5px 0;

}
.hoverlist:hover .listBlock{
    display: block;
}
.hoverlist:hover{
    color: red;
    opacity: .9; 

}