@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Edu+TAS+Beginner:wght@700&display=swap');

body{
    margin: 0;
}
header{
    position: relative;
    z-index: 100;
    max-width: 1540px;
    max-height: 110px;
    font-family: 'Anton', sans-serif;
    font-weight: 700;
    margin: 0 auto;
    z-index: 10;
    background: linear-gradient(rgb(22, 22, 22) 25%,  rgb(0, 0, 0) 65%);
}
h2{
	position: relative;
	text-align: center;
	padding: 10px 0 0 0 ;
	font-size: 42px;
	color: #f1d930	;
	text-shadow: 1px 0 1px white;
}
header img{
    width: 118px;
    margin-left: 15px;
    height: 110px;
}
.menu{
    letter-spacing: 1px;
    display: block;
    width: 720px;
    margin: 30px 0;
    float: right;
    font-size: 24px;
}

.menu a:hover{
    opacity: .9; 
    color: red;

}
.menu a{
    text-shadow: 2px 2px 3px rgb(101, 119, 11);
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;   
}
.hoverlist{
    color: white;
    display: inline-block;
    margin: 0 10px;
    text-shadow: 2px 2px 3px rgb(101, 119, 11);
}
.listBlock{
    color: white;
    display: none;
    position: absolute;
}
.menu >div div a{
    display: block;
    margin: 5px 0;

}
.hoverlist:hover .listBlock{
    display: block;
}
.hoverlist:hover{
    color: red;
    opacity: .9; 

}











/*ФУТЕР*/
footer{
    box-shadow:  0px -3px 3px 0px rgb(207, 204, 14);
    position: relative;
    height: 100px;
    max-width: 1540px;
    margin: 0 auto;
    text-align: center;
    color:white;
}
footer span{
    font-weight: 700;
    font-size: 16px;
    position: relative;
    top: 75px;
}
.networks{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 20px;
}
.networks img{
    margin: 0 8px;
    width: 60px;
    height: 60px;
}
.networks img:hover{
    opacity: .8;
}

.footerContacts{
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 20px;
    right: 90px;
}

.footerContacts a{
    display: block;
    color:white;
    text-decoration: none;
    margin: 4px 0;
}
.footerContacts a:hover{
    color: red;
}