@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Edu+TAS+Beginner&family=Saira&display=swap');
.home{
    max-width: 1540px;
    margin: 0 auto;
    height: 710px;
    position: relative;
    top: -25px;
   
}
.home >img{
    position: absolute;
    opacity: .5;
    width:100%;
    filter: brightness(0.8);
    filter: contrast(170%);


}
.blockWelcome{
    filter: contrast(200%);
    position: relative;
    top: 650px;
    height: 240px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.blockWelcome img{
    filter: brightness(1.2);
    position: absolute;
    top: -240px;
    left: -120px;
    opacity: 1;
    height: 500px;
}
h1{
    position: absolute;
    left: 510px;
    font-size: 50px;
    color: yellow;
    text-shadow: 2px 2px 3px grey;
    font-style:  oblique ;
    line-height: 70px;
    font-family: 'Saira', sans-serif;
}
h1 p{
    position: relative;
    top: -50px;
    left: 300px;
}