.slider{
    margin: 160px 0 0 0;
}

.slider >img{
    width: 300px;
    height: 240px;
}
.imgFull{
    width: 70%;
    height: 70%;
    position: relative;
    margin: 15%;
    background-color: black;
    z-index: 100;
}